.idea/

# js
/node_modules/
/dist/
/coverage/
/yarn-error.log

# php
/vendor/
phpunit.xml
.php_cs.cache
.phpunit.result.cache

# php-coveralls
/build/logs/clover.xml

# miaoxing
/storage/
/tests/config-local.php

# wei
/log/
